<%- include("../partials/header.ejs") %> <%- include("../partials/navbar.ejs")
%>
<div class="container"><%- include("../partials/flash.ejs") %></div>
<div class="container">
  <h1>Login</h1>
  <form action="/login" method="post">
    <div class="mb-3">
      <label for="email" class="form-label">Email</label>
      <input type="email" class="form-control" id="email" name="email"
    </div>
    <div class="mb-3">
      <label for="password" class="form-label">Password</label>
      <input
        type="password"
        name="password"
        class="form-control"
        id="password"
      />
    </div>

    <div>
      <button type="submit" class="btn btn-primary">login</button>
    </div>
    <p>don't have an account <a href="/register">Register</a></p>
  </form>
</div>
<%- include("../partials/bottom.ejs") %>
